artifacts/n8n/weshare-partner-lifecycle.json
{
  "name": "WeShare — Partner Lifecycle + SLA Cron",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weshare",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-weshare",
      "name": "WeShare Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "weshare"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "partner.registered",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "partner.registered"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "partner.payouts_connected",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "partner.payouts_connected"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "partner.certified",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "partner.certified"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "partner.leads_unlocked",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "partner.leads_unlocked"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "lead.sla_breached",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lead.sla_breached"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "client.cancelled",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "client.cancelled"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-event",
      "name": "Route by event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/lookup",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "highLevelApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"{{ $env.GHL_LOCATION_ID }}\",\n  \"email\": \"{{ $json.body.data.email }}\"\n}",
        "options": {}
      },
      "id": "ghl-lookup",
      "name": "GHL — lookup contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 120],
      "notes": "Optional mirror — WeShare already tags via API. Use for GHL workflows triggered by tags."
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "cron-sla",
      "name": "Every 15 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://weshare.orengen.io/api/cron/sla-check",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WESHARE_CRON_SECRET }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sla-check",
      "name": "WeShare SLA check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 560]
    },
    {
      "parameters": {
        "content": "## WeShare Partner Lifecycle\n\n1. Set `N8N_WEBHOOK_URL=https://neightn.orenautomations.com/webhook/weshare` in Coolify\n2. Set n8n env `WESHARE_CRON_SECRET` = same as WeShare `CRON_SECRET`\n3. Activate this workflow\n4. Add GHL credential (HighLevel API) if using GHL mirror nodes\n5. Extend Switch outputs for Slack/Sheets as needed",
        "height": 220,
        "width": 420
      },
      "id": "sticky-note",
      "name": "Setup notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 40]
    }
  ],
  "connections": {
    "WeShare Events": {
      "main": [[{ "node": "Route by event", "type": "main", "index": 0 }]]
    },
    "Every 15 minutes": {
      "main": [[{ "node": "WeShare SLA check", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "weshare-partner-lifecycle"
  }
}
